<body>
<script src="/assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    {{> header}}
    <!-- 风格切换 -->
    <div class="tpl-skiner">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>
    <!-- 侧边导航栏 -->
    {{> nav}}

    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">公式管理</div>
                        </div>
                        <div class="widget-body  am-fr">
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <div class="am-form-group">
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button type="button" class="am-btn am-btn-default am-btn-success" onclick="editInfo()"><span class="am-icon-plus"></span> 新增</button>
                                            <button type="button" class="am-btn am-btn-default am-btn-danger" onclick="deleteList()"><span class="am-icon-trash-o"></span> 删除</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form id="form-search">
                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                    <div class="am-form-group tpl-table-list-select">
                                        <select name="paramName" id="paramName" data-am-selected="{btnSize: 'sm'}">
                                            <option value="formula">公式名称</option>
                                            <option value="formula_type">公式类型</option>
                                            <option value="description">描述</option>
                                            <option value="K">工作量系数</option>
                                            <option value="K1">人数调整系数</option>
                                            <option value="K2">增加系数</option>
                                            <option value="M">标准班人数</option>
                                            <option value="M2">重复折算人数</option>
                                            <option value="N">教师实际指导人数</option>
                                            <option value="limt">限制条件</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                    <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                        <input type="text" name="paramValue" id="paramValue" class="am-form-field ">
                                        <span class="am-input-group-btn">
                                            <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button" onclick="search()"></button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                            <div class="widget-body  widget-body-lg am-fr">
                                <table width="100%" class="am-table am-table-compact am-table-bordered am-table-radius am-table-striped tpl-table-black " id="example-r">
                                    <thead>
                                    <tr>
                                        <th class="am-lg-text-center"><input type="checkbox" onclick="isSelectAll()" id="0"/></th>
                                        <th>公式名称</th>
                                        <th>公式类型</th>
                                        <th>描述</th>
                                        <th alt="工作量系数">K</th>
                                        <th>K1</th>
                                        <th>K2</th>
                                        <th>标准班人数</th>
                                        <th>指导标准人数</th>
                                        <th>重复折算人数</th>
                                        <th>教师实际指导学生人数</th>
                                        <th>限制条件</th>
                                        <th>选择操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#each formulaList}}
                                        <tr class="gradeX">
                                            <td class="am-lg-text-center"><input type="checkbox" id="{{id}}"/></td>
                                            <td>{{formula}}</td>
                                            <td>{{formulaType}}</td>
                                            <td>{{description}}</td>
                                            <td>{{K}}</td>
                                            <td>{{K1}}</td>
                                            <td>{{K2}}</td>
                                            <td>{{M}}</td>
                                            <td>{{M1}}</td>
                                            <td>{{M2}}</td>
                                            <td>{{N}}</td>
                                            <td>{{limt}}</td>
                                            <td>
                                                <div class="tpl-table-black-operation">
                                                    <a href="javascript:void(0)" onclick="queryEdit('{{id}}')" id="{{id}}">
                                                        <i class="am-icon-pencil"></i> 编辑
                                                    </a>
                                                    <a href="javascript:;" onclick="deleteFormula('{{id}}')" class="tpl-table-black-operation-del">
                                                        <i class="am-icon-trash"></i> 删除
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {{/each}}
                                    <!-- more data -->
                                    </tbody>
                                </table>
                            </div>
                            <div class="am-u-lg-12 am-cf">
                                <div class="am-fr">
                                    {{{pageHtml}}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
    <div id="form-style">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title am-fl">公式管理</div>
                    <div class="widget-function am-fr">
                        <a href="javascript:;" class="am-icon-cog"></a>
                    </div>
                </div>
                <div class="widget-body am-fr">

                    <form class="am-form tpl-form-line-form" id="formulaList">
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label"> 所有内容必填</label>
                        </div>
                        <input type="hidden" name="id" >
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">公式名称 <span class="tpl-form-line-small-title">Formula</span></label>
                            <div class="am-u-sm-7 fl">
                                <input type="text" class="am-form-field tpl-form-no-bg" name="formula" id="formula" placeholder="公式名称">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">公式类型 <span class="tpl-form-line-small-title">Type</span></label>
                            <div class="am-u-sm-7 fl">
                                <input type="text" class="am-form-field tpl-form-no-bg" name="formulaType" id="formula_type" placeholder="公式类型">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">描述 <span class="tpl-form-line-small-title">Description</span></label>
                            <div class="am-u-sm-7 fl">
                                <input type="text" class="am-form-field tpl-form-no-bg" name="description" id="description" placeholder="请输入描述">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">工作量系数 <span class="tpl-form-line-small-title">K</span></label>
                            <div class="am-u-sm-7 fl">
                                <input type="text" class="am-form-field tpl-form-no-bg" name="K" id="K" placeholder="工作量系数">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">人数调整系数 <span class="tpl-form-line-small-title">K1</span></label>
                            <div class="am-u-sm-7 fl">
                                <input type="text" class="am-form-field tpl-form-no-bg" name="K1" id="K1" placeholder="人数调整系数">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">增加系数 <span class="tpl-form-line-small-title">K2</span></label>
                            <div class="am-u-sm-7 fl">
                                <input type="text" class="am-form-field tpl-form-no-bg" name="K2" id="K2" placeholder="增加系数">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">标准班人数 <span class="tpl-form-line-small-title">M</span></label>
                            <div class="am-u-sm-7 fl">
                                <input type="text" class="am-form-field tpl-form-no-bg" name="M" id="M" placeholder="标准班人数">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">指导标准人数 <span class="tpl-form-line-small-title">M1</span></label>
                            <div class="am-u-sm-7 fl">
                                <input type="text" class="am-form-field tpl-form-no-bg" name="M1" id="M1" placeholder="指导标准人数">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">重复折算人数 <span class="tpl-form-line-small-title">M2</span></label>
                            <div class="am-u-sm-7 fl">
                                <input type="text" class="am-form-field tpl-form-no-bg" name="M2" id="M2" placeholder="重复折算人数">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">教师实际指导人数 <span class="tpl-form-line-small-title">N</span></label>
                            <div class="am-u-sm-7 fl">
                                <input type="text" class="am-form-field tpl-form-no-bg" name="N" id="N" placeholder="教师实际指导人数">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">限制条件 <span class="tpl-form-line-small-title">Limit</span></label>
                            <div class="am-u-sm-7 fl">
                                <input type="text" class="am-form-field tpl-form-no-bg" name="limt" id="limt" placeholder="限制条件">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <div class="am-u-sm-7 am-u-sm-push-3">
                                <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success " onclick="subButton()">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    $(function () {
        if (GetQueryString('paramName') != null){
            var paramArr = GetQueryString('paramName').split('-');
            $('#paramName').val(paramArr[0]);
            $('#paramValue').val(paramArr[1]);
        }
    });

    /*
     * 查询
     * */
    function search() {
        $.ajax({
            type:'get',
            url:'formula',
            data:$('#form-search').serialize(),
            dataType:'JSON',
            success:function (data) {
                if (data.paramValue != ''){
                    window.location.href = 'formula?paramName='+ data.paramName + '-'+data.paramValue;
                } else {
                    window.location.href = 'formula';
                }
            }
        });
    }

    function editInfo() {
        $('#formulaList input').val("");
        layer.open({
            type: 1,
            title: '编辑',
            skin: 'layui-layer-rim', //加上边框
            area: ['800px', '600px'], //宽高
            maxmin: true,
            resize: false,
            content: $('#form-style')
        });
    }

    /*
     * 编辑信息
     * */
    function queryEdit(id) {
        $.ajax({
            type: 'get',
            url: 'formula/queryFormulaInfo?id='+id,
            success: function (data) {
                editInfo();
                $('#formulaList input[name=id]').val(data.id);
                $('#formulaList input[name=formula]').val(data.formula);
                $('#formulaList input[name=formulaType]').val(data.formulaType);
                $('#formulaList input[name=description]').val(data.description);
                $('#formulaList input[name=K]').val(data.K);
                $('#formulaList input[name=K1]').val(data.K1);
                $('#formulaList input[name=K2]').val(data.K2);
                $('#formulaList input[name=M]').val(data.M);
                $('#formulaList input[name=M1]').val(data.M1);
                $('#formulaList input[name=M2]').val(data.M2);
                $('#formulaList input[name=N]').val(data.N);
                $('#formulaList input[name=limt]').val(data.limt);
            }
        });
    }

    /*
    * 提交按钮，添加、修改信息
    * */
    function subButton() {
        $.ajax({
            type: 'post',
            url: 'formula/addFormulaInfo',
            data: $('#formulaList').serialize(),
            dataType: 'JSON',
            success: function () {}
        });
        window.location.reload();

    }


    /*
     * 删除单条信息
     * */
    function deleteFormula(id) {
        layer.confirm('是否删除?', {
            btn: ['确定','取消'] //按钮
        },function () {
            $.post('/admin/formula/deleteFormulaInfo?id='+id,function (err, data) {
                if(data == "success"){
                    layer.msg('删除成功!', {icon: 1});
                    window.location.reload();
                }else {
                    layer.msg('删除失败!', {icon: 2});
                }
            });
        });
    }

    /*
     * 删除所选行
     * */
    function deleteList() {
        var oCheckTable = document.getElementsByClassName('gradeX');
        var isChecked = new Array();
        var checkedNum = 0;
        for(var i=1;i<oCheckTable.length+1;i++){
            if ($("#example-r input[type='checkbox']")[i].checked){
                isChecked[checkedNum++]= $("#example-r input[type='checkbox']")[i].id;
            }
        }
        if(checkedNum!=0){
            layer.confirm('是否删除?', {
                btn: ['确定','取消'] //按钮
            },function () {
                for (var i=0;i<checkedNum;i++){
                    $.post('formula/deleteFormulaInfo?id='+isChecked[i],function (err, data) {
                        if(data == "success"){
                            layer.msg('删除成功!', {icon: 1});
                            window.location.reload();
                        }else {
                            layer.msg('删除失败!', {icon: 2});
                        }
                    });
                }
            });
        }
    }

    /*
     * 全选与不选
     * */
    function isSelectAll() {
        var oCheckTable = document.getElementsByClassName('gradeX');
        if($("#example-r input[type='checkbox']")[0].checked){
            for (var i=1;i<oCheckTable.length+1;i++){
                $("#example-r input[type='checkbox']")[i].checked ="checked"
            }
        }else {
            for (var i=1;i<oCheckTable.length+1;i++){
                $("#example-r input[type='checkbox']")[i].checked =""
            }
        }

    }
</script>