<body>
<script src="/assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    {{> header}}
    <!-- 风格切换 -->
    <div class="tpl-skiner">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>
    <!-- 侧边导航栏 -->
    {{> nav}}


    <!-- 内容区域 -->
    <div class="tpl-content-wrapper custom">

        <div class="container-fluid am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                    <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 系统首页 <small>System Index</small></div>
                </div>
            </div>

        </div>

        <div class="row-content am-cf">

            <div class="row am-cf">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-4 widget-margin-bottom-lg ">
                    <div class="tpl-user-card am-text-center widget-body-lg">
                        <div class="tpl-user-card-title">
                            系统管理员
                        </div>
                        <div class="achievement-subheading">
                            权限：最高权限
                        </div>
                        <img class="achievement-image" src="/assets/img/user07.png" alt="">
                        <div class="achievement-description">
                            上次登录时间：
                            <strong>2017-07-24 11:30</strong>
                        </div>
                    </div>
                </div>

                <div class="am-u-sm-12 am-u-md-12 am-u-lg-8 widget-margin-bottom-lg">

                    <div class="widget am-cf widget-body-lg">

                        <div class="widget-body  am-fr">
                            <div class="am-scrollable-horizontal custom">
                                <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black " id="example-r">
                                    <thead>
                                    <tr>
                                        <th>通知公告</th>
                                        <th>发布人</th>
                                        <th>时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="gradeX">
                                        <td>新加坡大数据初创公司 Latize 获 150 万美元风险融资</td>
                                        <td>张鹏飞</td>
                                        <td>2016-09-26</td>
                                    </tr>
                                    <tr class="even gradeC">
                                        <td>自拍的“政治角色”：观众背对希拉里自拍合影表示“支持”</td>
                                        <td>天纵之人</td>
                                        <td>2016-09-26</td>
                                    </tr>
                                    <tr class="gradeX">
                                        <td>关于创新管理，我想和你当面聊聊。</td>
                                        <td>王宽师</td>
                                        <td>2016-09-26</td>
                                    </tr>
                                    <tr class="even gradeC">
                                        <td>究竟是趋势带动投资，还是投资引领趋势？</td>
                                        <td>着迷</td>
                                        <td>2016-09-26</td>
                                    </tr>
                                    <tr class="even gradeC">
                                        <td>Docker领域再添一员，网易云发布“蜂巢”，加入云计算之争</td>
                                        <td>醉里挑灯看键</td>
                                        <td>2016-09-26</td>
                                    </tr>
                                    <tr class="even gradeC">
                                        <td>Docker领域再添一员，网易云发布“蜂巢”，加入云计算之争</td>
                                        <td>醉里挑灯看键</td>
                                        <td>2016-09-26</td>
                                    </tr>
                                    <!-- more data -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row  am-cf">
                <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                    <div class="widget widget-primary am-cf">
                        <div class="widget-statistic-header">
                            教师用户
                        </div>
                        <div class="widget-statistic-body">
                            <div class="widget-statistic-value">
                                总计：300人
                            </div>
                            <span class="widget-statistic-icon am-icon-credit-card-alt"></span>
                        </div>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                    <div class="widget widget-purple am-cf">
                        <div class="widget-statistic-header">
                            完成计算人数
                        </div>
                        <div class="widget-statistic-body">
                            <div class="widget-statistic-value">
                                总计：100人
                            </div>
                            <span class="widget-statistic-icon am-icon-support"></span>
                        </div>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                    <div class="widget widget-purple am-cf">
                        <div class="widget-statistic-header">
                            系统管理员
                        </div>
                        <div class="widget-statistic-body">
                            <div class="widget-statistic-value">
                                总计：4人
                            </div>
                            <span class="widget-statistic-icon am-icon-support"></span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
</div>
</body>