<body data-type="widgets">
<script src="/assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    {{> header}}
    <!-- 风格切换 -->
    <div class="tpl-skiner">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>
    <!-- 侧边导航栏 -->
    {{> nav}}
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">教学管理</div>
                            </div>
                            <div class="widget-body  am-fr">
                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                    <div class="am-form-group">
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <button type="button" class="am-btn am-btn-default am-btn-success" href="javascript:void(0)" onclick="formTable()"><span class="am-icon-plus"></span> 新增</button>
                                                <button type="button" class="am-btn am-btn-default am-btn-danger" href="javascript:void(0)" onclick="deleteBatch()"><span class="am-icon-trash-o"></span> 删除</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form id="form-search">
                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                    <div class="am-form-group tpl-table-list-select">
                                        <select name="paramName" id="paramName" data-am-selected="{btnSize: 'sm'}">
                                          <option value="course_node">课程编号</option>
							              <option value="tid">教工号</option>
							              <option value="year">学年</option>
							              <option value="term">学期</option>
							              <option value="class_node">班级编号</option>
							              <option value="class_size">班级人数</option>
							              <option value="course_number">选课课号</option>
							              <option value="plan_hours">计划学时</option>
							              <option value="course_hours">课程学时</option>
							              <option value="experience_hours">实验学时</option>
							              <option value="M">实验指导学生</option>
							              <option value="exam_method">考察方法</option>
							              <option value="state">状态</option>
							            </select>
                                    </div>
                                </div>
                                <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                    <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                        <input type="text" name="paramValue" id="paramValue"  class="am-form-field ">
                                        <span class="am-input-group-btn">
                                            <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button" onclick="search()"></button>
                                        </span>
                                    </div>
                                </div>
                                </form>
                                <div class="widget-body  widget-body-lg am-fr">

                                <table width="100%" class="am-table am-table-compact am-table-bordered am-table-radius am-table-striped tpl-table-black " id="example-r">
                                    <thead>
                                        <tr>
                                            <th class="am-lg-text-center"><input type="checkbox" onclick="checkAll(this)" /></th>
                                            <th name="course_node" class="course_node">课程编号</th>
                                            <th name="tid" class="tid">教工号</th>
                                            <th name="year" class="year">学年</th>
                                            <th name="term" class="term">学期</th>
                                            <th name="class_node" class="class_node">班级编号</th>
                                            <th name="class_size" class="class_size">班级人数</th>
                                            <th name="course_number" class="course_number">选课课号</th>
                                            <th name="plan_hours" class="plan_hours">计划学时</th>
                                            <th name="course_hours" class="course_hours">课程学时</th>
                                            <th name="experience_hours" class="experience_hours">实验学时</th>
                                            <th name="M" class="M">实验指导学生</th>
                                            <th name="exam_method" class="exam_method">考察方法</th>
                                            <th name="state" class="state">状态</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table-custom" >
                                    {{#each teachingTaskList}}
                                        <tr class="gradeX">
                                            <td class="am-lg-text-center"><input type="checkbox" name="{{id}}" /></td>
                                            <td>{{courseNode}}</td>
                                            <td>{{tid}}</td>
                                            <td>{{year}}</td>
                                            <td>{{term}}</td>
                                            <td>{{classNode}}</td>
                                            <td>{{classSize}}</td>
                                            <td>{{courseNumber}}</td>
                                            <td>{{planHours}}</td>
                                            <td>{{courseHours}}</td>
                                            <td>{{experienceHours}}</td>
                                            <td>{{M}}</td>
                                            <td>{{examMethod}}</td>
                                            <td>{{state}}</td>
                                            <td>
                                                <div class="tpl-table-black-operation">
                                                    <a href="javascript:void(0)" onclick="queryInfo('{{id}}')">
                                                        <i class="am-icon-pencil"></i> 编辑
                                                    </a>
                                                    <a href="javascript:;" class="tpl-table-black-operation-del" onclick="deleteBtn('{{id}}')">
                                                        <i class="am-icon-trash"></i> 删除
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/each}}
                                        <!-- more data -->
                                    </tbody>
                                </table>
                            </div>
                                <div class="am-u-lg-12 am-cf">
                                    <div class="am-fr">
                                        {{{pageHtml}}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

		<div id="form-style">
			<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
				<div class="widget am-cf">
					<div class="widget-head am-cf">
						<div class="widget-title am-fl">教学管理</div>
						<div class="widget-function am-fr">
	                        <a href="javascript:;" class="am-icon-cog"></a>
	                    </div>
					</div>
					<div class="widget-body am-fr">
						<form class="am-form tpl-form-line-form" id="form-teacherList">
                            <input type="hidden" name="id" />
							<div class="am-form-group">
								<label class="am-u-sm-3 am-form-label">课程编号<span class="tpl-form-line-small-title">course_node</span></label>
								<div class="am-u-sm-7 fl">
									<input type="text" class="tpl-form-input" name="courseNode" id="course_node" placeholder="请输入课程编号">
									<small>请填写课程编号。</small>
								</div>
							</div>
							<div class="am-form-group">
								<label class="am-u-sm-3 am-form-label">教工号<span class="tpl-form-line-small-title">tid</span></label>
								<div class="am-u-sm-7 fl">
									<input type="text" class="tpl-form-input" name="tid" id="tid" placeholder="请输入教工号">
									<small>请填写教工号。</small>
								</div>
							</div>
	
							<div class="am-form-group">
								<label class="am-u-sm-3 am-form-label">学年 <span class="tpl-form-line-small-title">year</span></label>
								<div class="am-u-sm-7 fl">
									<select data-am-selected="{searchBox: 1}" style="display: none;" name="year" id="year" >
										<option value="2016">2016</option>
										<option value="2017">2017</option>
									</select>
								</div>
							</div>
							<div class="am-form-group">
								<label class="am-u-sm-3 am-form-label">学期 <span class="tpl-form-line-small-title">term</span></label>
								<div class="am-u-sm-7 fl">
									<select data-am-selected="{searchBox: 1}" style="display: none;" name="term" id="term">
										<option value="1">1</option>
										<option value="2">2</option>
									</select>
	
								</div>
							</div>
							
							<div class="am-form-group">
								<label class="am-u-sm-3 am-form-label">班级编号<span class="tpl-form-line-small-title">class_node</span></label>
								<div class="am-u-sm-7 fl">
									<input type="text" class="tpl-form-input" name="classNode" id="classNode" placeholder="请输入班级编号">
									<small>请填写班级编号。</small>
								</div>
							</div>
							
							<div class="am-form-group">
								<label class="am-u-sm-3 am-form-label">班级人数<span class="tpl-form-line-small-title">class_size</span></label>
								<div class="am-u-sm-7 fl">
									<input type="text" class="tpl-form-input" name="classSize" id="classSize" placeholder="请输入班级人数">
									<small>请填写班级人数。</small>
								</div>
							</div>
							
							<div class="am-form-group">
								<label class="am-u-sm-3 am-form-label">选课课号<span class="tpl-form-line-small-title">course_number</span></label>
								<div class="am-u-sm-7 fl">
									<input type="text" class="tpl-form-input" name="courseNumber" id="courseNumber" placeholder="请输入选课课号">
									<small>请填写选课课号。</small>
								</div>
							</div>
							
							<div class="am-form-group">
								<label class="am-u-sm-3 am-form-label">计划学时<span class="tpl-form-line-small-title">plan_hours</span></label>
								<div class="am-u-sm-7 fl">
									<input type="text" class="tpl-form-input" name="planHours" id="planHours" placeholder="请输入计划学时">
									<small>请填写计划学时。</small>
								</div>
							</div>
							
							<div class="am-form-group">
								<label class="am-u-sm-3 am-form-label">课程学时<span class="tpl-form-line-small-title">course_hours</span></label>
								<div class="am-u-sm-7 fl">
									<input type="text" class="tpl-form-input" name="courseHours" id="course_hours" placeholder="请输入课程学时">
									<small>请填写课程学时。</small>
								</div>
							</div>
							
							<div class="am-form-group">
								<label class="am-u-sm-3 am-form-label">实验学时<span class="tpl-form-line-small-title">experience_hours</span></label>
								<div class="am-u-sm-7 fl">
									<input type="text" class="tpl-form-input" name="experienceHours" id="experience_hours" placeholder="请输入实验学时">
									<small>请填写实验学时。</small>
								</div>
							</div>
							
							<div class="am-form-group">
								<label class="am-u-sm-3 am-form-label">实验指导学生<span class="tpl-form-line-small-title">M</span></label>
								<div class="am-u-sm-7 fl">
									<input type="text" class="tpl-form-input" name="M" id="M" placeholder="请输入实验指导学生">
									<small>请填写实验指导学生。</small>
								</div>
							</div>
							
							<div class="am-form-group">
								<label class="am-u-sm-3 am-form-label">考察方法<span class="tpl-form-line-small-title">exam_method</span></label>
								<div class="am-u-sm-7 fl">
									<input type="text" class="tpl-form-input" name="examMethod" id="exam_method" placeholder="请输入考察方法">
									<small>请填写考察方法。</small>
								</div>
							</div>
							
							<div class="am-form-group">
								<label class="am-u-sm-3 am-form-label">状态 <span class="tpl-form-line-small-title">state</span></label>
								<div class="am-u-sm-7 fl">
									<select data-am-selected="{searchBox: 1}" style="display: none;" name="state" id="state">
										<option value="1">状态1</option>
										<option value="0">状态2</option>
									</select>
	
								</div>
							</div>
							
							<div class="am-form-group">
								<div class="am-u-sm-7 am-u-sm-push-3">
									<button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success " onclick="save()">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
<script type="text/javascript">
    $(function () {
        if (GetQueryString('paramName') != null){
            var paramArr = GetQueryString('paramName').split('-');
            $('#paramName').val(paramArr[0]);
            $('#paramValue').val(paramArr[1]);
        }
    });
    function checkAll(obj){
        $("#table-custom input[type='checkbox']").prop('checked', $(obj).prop('checked'));
    }
    function search() {
        $.ajax({
            type:'get',
            url:'teachingTask',
            data:$('#form-search').serialize(),
            dataType:'JSON',
            success:function (data) {
                if (data.paramValue != ''){
                    window.location.href = 'teachingTask?paramName='+ data.paramName + '-'+data.paramValue;
                } else {
                    window.location.href = 'teachingTask';
                }
            }
        })
    }
    function save() {
        $.ajax({
            type: 'POST',
            url: 'teachingTask/saveTeachingTackInfo',
            data: $('#form-teacherList').serialize(),
            dataType: 'json',
            success: function (data) {
                layer.closeAll();
                if (data.state == 'error'){
                    layer.msg(data.msg, {icon: 2});

                }else {
                    $("input[name=id]").val();
                    $("input[name=courseNode]").val();
                    $("input[name=tid]").val();
                    $("input[name=classNode]").val();
                    $("input[name=classSize]").val();
                    $("input[name=courseNumber]").val();
                    $("input[name=planHours]").val();
                    $("input[name=courseHours]").val();
                    $("input[name=experienceHours]").val();
                    $("input[name=M]").val();
                    $("input[name=examMethod]").val();
                    window.location.reload();
                    layer.msg(data.msg, {icon: 1});
                }
            }
        });
    }
    function queryInfo(id) {
        $.ajax({
            type: 'GET',
            url: 'teachingTask/queryTeachingInfoById?id='+id,
            success: function (data) {
                formTable();
                $("input[name=id]").val(data.id);
                $("input[name=courseNode]").val(data.courseNode);
                $("input[name=tid]").val(data.tid);
                $("input[name=year]").val(data.year);
                $("input[name=term]").val(data.term);
                $("input[name=classNode]").val(data.classNode);
                $("input[name=classSize]").val(data.classSize);
                $("input[name=courseNumber]").val(data.courseNumber);
                $("input[name=planHours]").val(data.planHours);
                $("input[name=courseHours]").val(data.courseHours);
                $("input[name=experienceHours]").val(data.experienceHours);
                $("input[name=M]").val(data.M);
                $("input[name=examMethod]").val(data.examMethod);
                $("input[name=state]").val(data.state);
            }
        })
    }
    function formTable() {
        layer.open({
            type: 1,
            title: '编辑',
            skin: 'layui-layer-rim', //加上边框
            area: ['800px', '600px'], //宽高
            maxmin: true,
            resize: false,
            content: $('#form-style')
        });
    }
	function deleteBtn(id){
		layer.confirm('是否删除?', {
			btn: ['确定','取消'] //按钮
		}, function(){
			$.get('/admin/teachingTask/deleteTeachingInfo?id='+id,function (err, data) {
				if(data == "success"){
					window.location.reload();
					layer.msg('删除成功!', {icon: 1});

				}else {
					layer.msg('删除失败!', {icon: 2});
				}
			});

		});
	}
	function deleteBatch() {
		layer.confirm('是否全部删除?', {
			btn: ['确定','取消'] //按钮
		}, function(){
			var checkboxArr = $("#table-custom input[type='checkbox']");
			var id = [];
			var j=0;
			for (var i=0;i<checkboxArr.length;i++){
				if(checkboxArr.eq(i).is(':checked') == true){
					var idstr = checkboxArr.eq(i).attr('name');
					id[j] = idstr;
					j++;
				}
			}
			$.ajax({
				type:'get',
				url:'/admin/teachingTask/deleteTeachingInfoBatch?id='+id,
				success:function (data) {
					if(data.state == "success"){
						window.location.reload();
						layer.msg('删除成功!', {icon: 1});

					}else {
						layer.msg('删除失败!', {icon: 2});
					}
				}
			})
		});
	}
</script>